


<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title></title>

  
    <link rel="stylesheet/less" type="text/css" href="media/static/css/libs/bootstrap/less/bootstrap.less"
          media="all">
    <link rel="stylesheet/less" type="text/css" href="media/static/css/base.less" media="all">
    <link rel="stylesheet/less" type="text/css" href="media/static/css/datepicker.css" media="all">
    

    
  

  
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript" src="media/static/js/libs/less-1.3.0.min.js"></script>
    <script type="text/javascript" src="media/static/js/libs/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="media/static/js/libs/bootstrap/bootstrap-alert.js"></script>
    <script type="text/javascript" src="media/static/js/libs/bootstrap/bootstrap-button.js"></script>
    <script type="text/javascript" src="media/static/js/libs/bootstrap/bootstrap-carousel.js"></script>
    <script type="text/javascript" src="media/static/js/libs/bootstrap/bootstrap-dropdown.js"></script>
    <script type="text/javascript" src="media/static/js/libs/bootstrap/bootstrap-modal.js"></script>
    <script type="text/javascript" src="media/static/js/libs/bootstrap/bootstrap-popover.js"></script>
    <script type="text/javascript" src="media/static/js/libs/bootstrap/bootstrap-scrollspy.js"></script>
    <script type="text/javascript" src="media/static/js/libs/bootstrap/bootstrap-tab.js"></script>
    <script type="text/javascript" src="media/static/js/libs/bootstrap/bootstrap-tooltip.js"></script>
    <script type="text/javascript" src="media/static/js/libs/bootstrap/bootstrap-transition.js"></script>
    <script type="text/javascript" src="media/static/js/libs/bootstrap/bootstrap-typeahead.js"></script>


	<script type="text/javascript" src="media/static/js/libs/bootstrap/bootstrap-datepicker.js"></script>
    
  
<style>
.nav.rates li{
	margin: 4px 10px;
	font-size:0.8em;
}
h1 {
	text-align:center;
}
</style>

<script>
$("document").ready(function(){
	
});
</script>
</head>

<body>
<div class="navbar">
    <div class="navbar-inner">
      <div class="container" style="width: auto;">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Bit-Hedge</a>
        <div class="nav-collapse">
          <ul class="nav rates">
	            <!--li id="smallChart"><a href="#" title="Click to see the chart!" id="handleBtn" class="icons iconGraph">Show chart</a></li --> 
	            <li id="lastPrice">Last price:<span>$137.76253</span></li> 
	            <li id="highPrice">High:<span>$139.20000</span></li> 
	            <li id="lowPrice">Low:<span>$129.00000</span></li> 
	            <li id="volume">Volume:<span>58510 BTC</span></li> 
	            <li id="weightedAverage">Weighted Avg:<span>$135.63062</span></li> 
	        </ul>
          <ul class="nav pull-right">
            <li><a href="#">Log In</a></li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div>
    </div><!-- /navbar-inner -->
  </div>
<div class="container-fluid">





  <div class="row-fluid"><div class="offset2 span8"><article>
    
    <h1>
       Buy bitcoins at fixed price.
    </h1>
<form class="form-horizontal well">
        <fieldset>
          <!--legend>Controls Bootstrap supports</legend-->
          <div class="control-group info">
            <label class="control-label" for="date">Date of purache</label>
            <div class="controls">
              <!--<input type="text" name="date" id="date">
              <span class="help-inline">Enter future date of your purache</span>
				-->
				<div class="input-append date" id="dp" data-date="12-04-2013" data-date-format="dd-mm-yyyy">
					<input class="span2" size="180" type="text" value="12-02-2014" readonly>
					<span class="add-on"><i class="icon-calendar"></i></span>
			  </div>
			  <script>
				$(function(){
					$('#dp').datepicker();
				});
					
			  </script>
			</div>
          </div>
          <div class="control-group info">
            <label class="control-label" for="amount">Amount</label>
            <div class="controls">
              <input type="text" size="120" name="amount" id="amount" value="1">
              <span class="help-inline">BTC</span>
            </div>
          </div>
			<div class="control-group">
            <label class="control-label">Premium</label>
            <div class="controls">
              <span class="input-xlarge uneditable-input"></span>
            </div>
          </div>		  
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Continue</button>
            <button type="reset" class="btn">Cancel</button>
          </div>
        </fieldset>
      </form>

  </article></div></div>



    <div class="row-fluid"><div class="offset2 span8"><footer>
        
    </footer></div></div>


</div></body>
</html>
