.nav-text {
  margin: 10px 10px;
  font-size:1em;
}
#dp .dropdown-toggle {
  margin-left: -30px;
  z-index: 9;
  position: relative;
  margin-top: 2px;
  margin-right: 2px;
}

.form-inline-text {
  margin-top: 5px;

  h4 {
    padding-left: 20px;
  }
}