@font-face {
  font-family: Klavika;
  src: url('/media/static/css/KlavikaRegular-TF.otf');
}

@font-face {
  font-family: Klavika;
  font-weight: bold;
  src: url('/media/static/css/KlavikaBoldBold.otf');
}

@font-face {
  font-family: Klavika;
  font-weight: bold;
  font-style: italic;
  src: url('/media/static/css/KlavikaBoldBoldItalic.otf');
}

@font-face {
  font-family: Klavika;
  font-style: italic;
  src: url('/media/static/css/KlavikaMedium-Italic.otf');
}

body {
  background-image: url('/media/static/images/background.png');
  background-repeat:no-repeat;
  background-size:cover;
  font-family: Klavika;
}

.nav-text {
  margin: 10px 10px;
  font-size:1em;
}
#dp .dropdown-toggle {
  margin-left: -30px;
  z-index: 9;
  position: relative;
  margin-top: 2px;
  margin-right: 2px;
}

.form-inline-text {
  margin-top: 5px;

  h4 {
    padding-left: 20px;
  }
}

.header_top_cover {
  background-color: #2a9cc1;
  height: 0.5em;
}

.top-navigation {
  padding-right: 1em;
  padding-top: 0.2em;
}

ul.inline {
  list-style: none;
   li {
     display: inline;
   }
  li + li:before{
    content: " | ";
    padding: 0 10px;
  }
}

.page-header-main {
  font-size: 5.5em;
  font-style: italic;
  text-align: center;
  font-weight: normal;
  margin-top: 15%;

  .small {
    font-weight: bold;
    font-style: normal;
    font-size: 0.5em;
    margin-top: 0.5em;
    height: 1em;
  }

  div {
    display: inline-block;
    height: 0.5em;
    //margin: 5px;
  }
}

.blue {
  color: #2a9cc1;
}

.description {
  width: 50%;
  left: 25%;
  position: relative;
  margin-bottom: 2em;
}

.bold-italic {
  font-weight: bold;
  font-style: italic;
}

.form-label {
  font-size: 1.2em;
}

.form-control {
  margin: 20px;
}

body, label, input, button, select, textarea { line-height:initial; }
.description { left:0; width:400px; margin:0 auto; }
.page-header-main { font-size:4.4em; line-height:1em; }
.page-header-main .small { margin:0 0 1em 0; vertical-align:top; }
.row-fluid .offset2:first-child { width:572px; margin:0 auto; float:none; }
.row-fluid .offset1:first-child { width:100%; margin:20px 0 0; }
.well { border:none; background:none; }
.row-fluid .offset1 .span5 { margin:0; }
.form-control { margin:0; }
.row-fluid .offset1.span5 { width:50%; }
.form-actions { float:right; padding-top:0; background:none; border:none; }
.info:first-child { width:50%; }
.info { width:49%; display:inline-block; }
.info div { font-size:3em; }
.info label { color:#1b1b1b; font-size:16px; }