<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style>
        @font-face {
            font-family: Klavika;
            src: url("/media/static/css/Klavika-Regular.otf") format("opentype");
        }
        body {
            background-color: #000000;
            color: white;
            font-family: Klavika;
            vertical-align: middle;
            font-size: 12em;
            text-align: center;

        }
        a, a:hover, a:visited {
            text-decoration: none;
            color: white;
        }
    </style>
</head>
<body>
    <a href="/">Bit-Hedge.com</a>
</body>
</html>